[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Natsune Mochizuki
	email = me@natsuneko.cat
[credential "helperselector"]
	selected = manager-core
[credential "https://git-lfs.natsuneko.moe"]
	provider = generic
[init]
	defaultBranch = main
[credential "https://huggingface.co"]
	provider = generic
[commit]
	gpgsign = true
[tag]
	gpgsign = true
